<!doctype html>
<html lang="pt">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico">
    <meta charset="utf-8">
    <title>RASbet</title>
    <meta name="description" content="My Page Description">
    <link rel="stylesheet" href="./static/css/gestor.css">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="static/js/gestor.js"></script>
</head>

<body>
    <div class="hero">

        <div class="linguagens">
            <button class="lng_pt" onclick="switchPortugal()">Português (PT)</button>
            <button class="lng_eng" onclick="switchEnglish()">English (EN)</button>
        </div>
        
        <div class="form-box">
            <div class="logo">
                <img src="static/images/logo_symbol.png">
            </div>

            <div class="stuff_reports">
                <h3 class="pt">Informações Reportadas</h3>
                <h3 class="en">Reports</h3>
                <div class="reports_made">
                </div>
            </div>

            <button class="exit" onclick="exitGestor()">
                <p class="pt">Sair</p>
                <p class="en">Exit</p>
            </button>
        </div>
    </div>

</body>
</html>